 .u-section-1 {
  background-image: none;
  min-height: 750px;
}

.u-section-1 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 16px auto 0 calc(((100% - 1140px) / 2) + 456px);
  padding: 11px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -52px calc(((100% - 1140px) / 2) + 344px) 0 calc(((100% - 1140px) / 2) + 524px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -64px calc(((100% - 1140px) / 2) + 372px) 0 calc(((100% - 1140px) / 2) + 524px);
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 40px;
}

.u-section-1 .u-image-1 {
  min-height: 616px;
  background-image: url("images/NN-min.jpg?rand=62c8");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 211px;
  margin-top: 185px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 600px;
  height: 220px;
  margin: -396px -6px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 600px;
  height: 242px;
  margin: 154px auto 0 -12px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 616px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 95px 186px 0 99px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 47px 432px 0 99px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  line-height: 1.8;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 24px 165px 0 99px;
}

.u-section-1 .u-image-5 {
  width: 361px;
  height: 345px;
  margin: -56px auto 0 -71px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 150px 100px 0 auto;
  padding: 10px 26px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 642px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 376px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 244px);
    margin-left: calc(((100% - 940px) / 2) + 424px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 272px);
    margin-left: calc(((100% - 940px) / 2) + 424px);
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }

  .u-section-1 .u-image-2 {
    height: 174px;
  }

  .u-section-1 .u-image-3 {
    width: 282px;
    height: 147px;
    margin-top: -359px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 282px;
    height: 140px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 116px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 362px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 95px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 46px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 288px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 134px);
    margin-left: calc(((100% - 720px) / 2) + 314px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 162px);
    margin-left: calc(((100% - 720px) / 2) + 314px);
  }

  .u-section-1 .u-image-2 {
    height: 133px;
  }

  .u-section-1 .u-image-3 {
    width: 216px;
    height: 113px;
    margin-top: -318px;
  }

  .u-section-1 .u-image-4 {
    width: 216px;
    height: 107px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 237px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1781px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 216px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 44px);
    margin-left: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 72px);
    margin-left: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-image-1 {
    min-height: 973px;
  }

  .u-section-1 .u-image-2 {
    height: 333px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -518px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 136px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 68px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 28px);
    margin-left: calc(((100% - 340px) / 2) + 68px);
  }

  .u-section-1 .u-image-1 {
    min-height: 613px;
  }

  .u-section-1 .u-image-2 {
    height: 210px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -395px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}